* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  background: #0C0C0E;
}

.main-header {
  max-width: 1440px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 20px 0 20px;
  background: #0C0C0E;

}

.main-header__title {
  color: #ffffff;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.navigation-menu {
  display: flex;
  justify-items: center;
  align-items: center;
}

.navigation {
  display: flex;
  justify-items: center;
}

.navigation__links {
  display: flex;
  list-style: none;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}

.navigation__links li {
  margin-right: 30px;
}

.navigation__links li:last-child {
  margin-right: 0;
}

.profile-icon {
  margin-left: 40px;
  display: block;
  fill: #FFFFFF;
}

.navigation__item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /*margin-right: 30px;*/
}

.navigation__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #BB945F;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navigation__item:hover::after {
  transform: scaleX(1);
}

.welcome {
  height: 600px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%) top / auto 50% no-repeat,
  url("../img/Welcome.jpg") center center / cover no-repeat;
}

.section-welcome {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.section-welcome__title {
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  margin: 0;
  position: absolute;
  top: 220px;
  background: #0C0C0E;
  color: #ffffff;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  /*padding-top: 20px;*/
  /*padding-bottom: 40px;*/
  padding: 20px 20px 40px 20px;
}

.section-about {
  padding-bottom: 35px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #0C0C0E;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section__title-underline {
  width: 48px;
  /*height: 1px;*/
  margin-bottom: 38px;
  border-top: 1px solid #0C0C0E;
  /*background: #0C0C0E;*/
}

.section__description {
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.carousel__photo {
  margin-right: 21px;
}

.carousel__photo:last-child {
  margin-right: 0;
}

.carousel-pagination {
  display: flex;
  justify-content: space-between;
  width: 78px;
  margin: 31px auto 0 auto;
}

.carousel-pagination__button {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: transparent;
  /*border-radius: 50%;*/
  cursor: pointer;
}

.carousel-pagination__button::before,
.carousel-pagination__button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  transition: background-color 0.3s ease-in-out;
}

.carousel-pagination__button:hover::before,
.carousel-pagination__button:hover::after {
  background-color: #E4CAA7;
}

.carousel-pagination__button-active::before,
.carousel-pagination__button-active::after,
.carousel-pagination__button-active:hover::before,
.carousel-pagination__button-active:hover::after {
  background-color: #BB945F;
}

.section-favorites__description {
  margin-bottom: 42px;
  color: #000;
  /*text-align: center;*/
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites-menu {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  /*gap: 90px;*/
}

.favorites-menu__item {
  position: relative;
  margin-right: 20px;
  height: 17px;
  width: 17px;
  accent-color: #000000;
  cursor: pointer;
}

.favorites-menu__item-label {
  position: relative;
  margin-right: 90px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.favorites-menu__item:checked + .favorites-menu__item-label {
  font-weight: 700;
}

.favorites-menu__item::before,
.favorites-menu__item-label::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

.books {
  display: grid;
  grid-template-columns: 590px 590px;
  row-gap: 40px;
  justify-content: space-between;
  /*column-gap: 220px;*/
}

@media (max-width: 768px) {
  .books {
    grid-template-columns: 590px;
    justify-content: center;
  }
}

.book {
  width: 550px;
  height: 555px;
  padding: 14px 0 14px 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  background: #FFF;
}

.staff-picks {
  margin: 0;
  color: #000;
  font-family: Forum, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.staff-picks__underline {
  width: 58px;
  /*height: 1px;*/
  margin-left: 0;
  margin-top: -2px;
  margin-bottom: 20px;
  border-top: 1px solid #BB945F;
  /*background: #BB945F;*/
}

.book__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book__author {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.book__description {
  width: 357px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.button-buy {
  margin-top: auto;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  cursor: pointer;
}

/*.button:active {*/
/*  border: 1px solid #E4CAA7;*/
/*  background: #E4CAA7;*/
/*}*/

.button-own {
  margin-top: auto;
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #BB945F;
  color: #BB945F;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.book__cover {
  width: 200px;
  height: 300px;
  display: block;
  position: absolute;
  right: -41px;
  bottom: -1px;
  /*transform: translateX(369px) translateY(-285px);*/
}

.books-spring,
.books-summer,
.books-autumn {
  display: none;
}

.section-coffee .section__description {
  letter-spacing: 2px;
}

.coffee-shop-menu-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content:space-between;
}

@media (max-width: 768px) {
  .coffee-shop-menu-wrapper {
    grid-template-columns: auto;
    row-gap: 40px;
    justify-content: stretch;
  }
}

.coffee-shop-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.coffee-shop-menu-desserts {
  align-items: flex-end;
}

.coffee-shop-menu__title {
  margin: 0;
  color: #BB945F;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-shop-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.coffee-shop-menu-list__item {
  display: flex;
  align-items: center;
  gap: 59px;
}

.menu-item-title-drink {
  width: 199px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-item-title-dessert {
  text-align: right;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-item-price {
  text-align: right;
  color: #000;
  font-family: Forum, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-item-line {
  width: 100px;
  height: 1px;
  background: #BB945F;
}

.section-contacts__subtitle {
  margin: 0;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-contacts__subtitle:first-of-type {
  margin-bottom: 20px;
}

.section-contacts__subtitle:last-of-type {
  margin-top: 20px;
}

.section-contacts__contact {
  margin: 0;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-contacts__contact-name {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-contacts__contact-phone,
.section-contacts__contact-email {
  text-decoration: none;
  color: inherit;
}

.section-contacts__contacts-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-contacts__map {
  display: block;
}

.section-contacts-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content:space-between;
}

@media (max-width: 768px) {
  .section-contacts-wrapper {
    grid-template-columns: auto;
    row-gap: 100px;
  }
}

.card-subtitle {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.button-card {
  width: 243px;
  height: 44px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.card-input {
  display: block;
  width: 100%;
  height: 66px;
  padding-left: 20px;
  margin-bottom: 5px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #FFF;
  color: #8E8E8E;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.card-name {
  color: #000;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.card-form {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFF;
  /*padding: 20px 20px 30px 20px;*/
  padding: 17px 17px 27px 17px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.card-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  gap: 20px;
  background-color: #BB945F;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.get-card-subtitle {
  color: #000;
  text-align: center;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.get-card-description {
  margin: 0;
  color: #000;
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}

.button-get-card {
  width: 75px;
  height: 30px;
  background-color: #FFFFFF;
  color: #0C0C0E;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
}

.get-card-wrapper {
  width: 456px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
}

.get-card-buttons-wrapper {
  display: flex;
  gap: 20px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: auto;
    row-gap: 21px;
    justify-content: center;
  }
  .get-card-wrapper {
    align-items: center;
    width: 600px;
  }
  .get-card-description {
    text-align: center;
  }
}

.footer-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 44px 20px;
}

.address {
  margin: 0;
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.social {
  display: flex;
  gap: 15px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 18px;

}

.schedule {
  margin: 0;
  color: #FFF;
  text-align: right;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.footer-schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.credits-content {
  color: #FFF;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
}

.footer-credits-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-line {
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 44px;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #BB945F;
}

.social-icon {
  fill: #F5EFDB;
}

.icon-link {
  transition: fill 0.3s ease-in-out;
}

.icon-link:hover {
  cursor: pointer;
  fill: #BB945F;
}
