* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  background: #0C0C0E;
}

.main-header {
  max-width: 1440px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 20px 0 20px;
  background: #0C0C0E;

}

.main-header__title {
  color: #ffffff;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.menu {
  display: flex;
  justify-items: center;
  align-items: center;
}

.navigation {
  display: flex;
  justify-items: center;
}


.navigation__links {
  display: flex;
  list-style: none;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
}

.navigation__links li {
  margin-right: 30px;
}

.navigation__links li:last-child {
  margin-right: 0;
}

.profile-icon {
  margin-left: 40px;
  display: block;
}

.navigation__item {
  text-decoration: none;
  color: inherit;
  /*margin-right: 30px;*/
}

.welcome {
  height: 600px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%) top / auto 50% no-repeat,
  url("../img/Welcome.jpg") center center / cover no-repeat;
}

.section-welcome {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.section-welcome__title {
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  margin: 0;
  position: absolute;
  top: 220px;
  background: #0C0C0E;
  color: #ffffff;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  /*padding-top: 20px;*/
  /*padding-bottom: 40px;*/
  padding: 20px 20px 40px 20px;
}

.section-about {
  padding-bottom: 35px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #0C0C0E;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section__title-underline {
  width: 50px;
  /*height: 1px;*/
  margin-bottom: 39px;
  background: #0C0C0E;
}

.section__description {
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.carousel__photo {
  margin-right: 21px;
}

.carousel__photo:last-child {
  margin-right: 0;
}

.carousel-pagination {
  display: flex;
  justify-content: space-between;
  width: 78px;
  margin: 31px auto 0 auto;
}

.carousel-pagination__button {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: transparent;
  /*border-radius: 50%;*/
  cursor: pointer;
}

.carousel-pagination__button::before,
.carousel-pagination__button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
}

.carousel-pagination__button-active::before,
.carousel-pagination__button-active::after {
  background-color: #BB945F;
}

.section-favorites__description {
  margin-bottom: 40px;
  color: #000;
  /*text-align: center;*/
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites-menu {
  display: flex;
  align-items: center;
}

.favorites-menu__item {
  position: relative;
  margin-right: 20px;
  height: 17px;
  width: 17px;
  accent-color: #000000;
  cursor: pointer;
}

.favorites-menu__item-label {
  position: relative;
  margin-right: 90px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.favorites-menu__item:checked + .favorites-menu__item-label {
  font-weight: 700;
}

.favorites-menu__item::before,
.favorites-menu__item-label::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}
